.navbar{
    width: 100%;
    --tw-backdrop-blur: blur(10px);
    backdrop-filter: var(--tw-backdrop-blur);
    height: 10%;
    display: flex;
    align-items: center;
    color: white;
}

.Logout_button{
    border-radius: 5px;
    border: transparent;
    background-color: #297bca;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 80px;
}
.logo{
    width: 15rem;
    margin-left: 4rem;
}